body {
    max-width: 840px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.nav {
    background-color: blueviolet;
    color: white;
    padding: 2rem;
    display: grid;
    font-weight: 900;
    font-size: larger;
    justify-content: center;
    margin-top: 1rem;
}

.navigation {
    background-color: darkcyan;
    padding: 2rem;
    font-weight: 900;
    font-size: larger;
    display: grid;
    justify-content: center;
    margin-top: 0px;
    grid-template-columns: repeat(4, 1fr);
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: violet;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: blueviolet;
    border: 2px solid;
}

.card h1 {
    text-align: center;
    color: white;
    margin: 0%;
    background-color: darkcyan;
    font-size: larger;
    font-weight: 900;
    padding: 2rem;
}

.card h3 {
    background-color: darkcyan;
    margin-top: 0%;
    color: white;
    padding: 2rem
}

.profile {
    width: 100px;
    height: auto;
    padding: 2px;
    margin-right: 10px;
    border: 1px solid;
    box-shadow: 0 0 30px darkcyan;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    color: white;
    font-style: italic;
    font-weight: 600;
}

.subsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 3;
    grid-template-rows: auto auto;
}

.flag {
    width: 150px;
    grid-column: 1;
    grid-row: 2;
    margin: auto;
}

.subsection h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    grid-column: 1/3;
    grid-row: 1;
    margin: 0;
    padding: 10px;
    background-color: darkcyan;
    color: white;

}

.subsection img {
    grid-template-columns: 1;
    grid-row: 2;
    margin: auto;
    width: 200px;
}

.subsection1 ul li a {
    padding: 1rem;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.subsection1 ul li a:hover {
    color: violet;
}
 
footer {
    background-color: blueviolet;
    padding: 1rem;
    display: grid;
    justify-content: center;
}